@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-outfit: Arial, Helvetica, sans-serif;
  --font-playfair: Georgia, "Times New Roman", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #e6b800;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b38f00;
}
